.idea/
.meteor/local
.meteor/meteorite
.meteor/dev_bundle
*/.meteor/dev_bundle
node_modules
.npm
npm-debug.log
Packages/active-entry/helloworld/
LesionTracker/tests/nightwatch/reports/
package-lock.json
docs/_bookmeteor_bootstrap_windows/OrthancInstaller-Win64-18.5.2.exe
meteor_bootstrap_windows/OrthancInstaller-Win64-18.5.2.exe
meteor_bootstrap_windows/meteor-bootstrap-1.7.0.1-os.windows.x86_64.tar.gz
